* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background: #222;
    color: white;
    padding-bottom: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-size: 28px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00adb5;
}

.hero {
    text-align: center;
    margin-top: 60px;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #00adb5;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #008891;
}

/* Sections */
.section {
    padding: 60px 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    color: #222;
}

/* Skills */
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-card {
    background: white;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Projects */
.project-card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Resume Button */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #00adb5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #008891;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsive Design */
@media(max-width: 768px) {

    nav {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        text-align: center;
        margin-top: 15px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hero h2 {
        font-size: 30px;
    }

    .project-card {
        width: 95%;
    }
}